.Chat {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

.customerChat {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 35%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.customerChatHead {
    padding: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customerChatHeadIcon{
    display: flex;
    align-items: baseline;
    gap: 20px;
}
.closeImg{
    width: 18px;
    height: 18px;
}
.back{
    position: absolute;
    top: 45%;
    right: 45%;
    z-index: 1;
    padding: 1px 10px;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}
.customerChatMessage {
    height: 90%;
    padding-left: 5%;
}

.customerChatFoot {
    width: 100%;
    position: relative;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    height: 180px;
}

.notAllowSeesion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(210, 210, 210, 0.5);
    z-index: 9;
}

.customerChatTool {
    position: relative;
    height: 100%;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, .06);
    border: 1px solid rgba(142, 160, 188, .3);
}


.customerChatToolList {
    width: 100%;
    height: auto;
}

.customerChatToolList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.customerChatToolList li {
    margin: 5px 10px;
}

.customerChatToolList li img {
    width: 25px;
    height: 25px;
}

.customerChatText {
    width: 99%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    resize: none;
}

.customerChatButton {
    width: auto;
    height: 25px;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

/**分辨率适配**/
@media screen and (max-width: 500px) {
    .customerChat {
        width: 100%;
    }
}