.RightCont {
    -webkit-box-flex: 1;
    overflow-y: scroll;
}

.RightCont::-webkit-scrollbar {
    width: 15px;
}

.RightCont ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.RightCont li {
    width: 100%;
    height: 50px;
    /*display: -webkit-box;*/
    /*-webkit-box-orient: horizontal;*/
    margin-top: 20px;
    position: relative;
}
.customerServiceDiv {
    float: left;
    margin: 0.25rem 0rem;
    display: flex;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
}

.answerHead {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
}

.answerHead img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.answers {
    width: auto;
    background: #eeeeee;
    padding: 5px 20px;
    margin: 4px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    color: black;
}

.answers .jiao {
    position: absolute;
    left: -8px;
    top: 10px;
}

.myselfDiv {
    float: right;
    margin: 0.35rem 0;
    display: flex;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
    justify-content: right;
}

.nesHead {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 15px;
    float: right;
}

.nesHead img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.news {
    width: auto;
    height: auto;
    background: #FDE7E9;
    padding: 10px 20px;
    margin: 4px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
    float: right;
    color: #635C5B;
    max-width: 350px;
}

.news .jiao {
    position: absolute;
    right: -8px;
    top: 10px;
}

.news .Expr {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.SendImage {
    padding: 0.08rem;
    border-radius: 11px;
    max-width: 150px;
    margin-right: 1rem;
    overflow: hidden;
    max-height: 150px;
    height: auto;
}

.SendImage img {
    width: 100%;
    height: 100%;
}

.noticeDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.hitSession{
    width: 100%;
    border-radius: 20px;
    color: rgb(163, 163, 163);
    line-height: 16px;
    text-align: center;
    margin-top: 2px;
    padding: 7px 5px;
    font-size: 12px;
}

.moreSession {
    width: auto;
    background: #D1D1D1;
    border-radius: 20px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    margin: 0 auto;
    margin-top: 2px;
    padding: 3px 5px;
    font-size: 12px;
}

.wait{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.retract{
    font-size: 12px;
    background: antiquewhite;
    border-radius: 4px;
    text-align: center;
    align-self: center;
    padding: 5px 10px;
    margin-left: 10px;
    color: white;
}

.waitCal{
    text-align: center;
    margin-top: 10px;
    color: lightcoral;
}
.animation_div{
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-sizing: border-box;
    color: aquamarine;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

.animation_div::before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #00ffff transparent transparent transparent;
    box-sizing: content-box;
    animation: trotate 1.5s linear infinite;
    border-radius: 50%;
    z-index: 2;
}
.animation_div::after {
    position: absolute;
    left: -3px;
    top: -3px;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff0000 transparent transparent transparent;
    box-sizing: content-box;
    animation: trotate 1s linear infinite;
    border-radius: 50%;
    z-index: 1;
}
@keyframes trotate {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
